.header>img {
    width: auto;
    margin-left: 290px;
    z-index: 1;
    height: 400px;
}

@media screen and (max-width: 1670px) {
    .header>img {
        width: auto;
        margin-left: 290px;
        z-index: 1;
        height: 400px;
    }
}

@media screen and (max-width: 1450px) {
    .header>img {
        width: initial;
        height: initial;
    }
}

@media screen and (max-width: 1370px) {
    .header>img {
        width: initial;
        height: initial;
    }
}

@media screen and (max-width: 1280px) {
    .header>img {
        width: initial;
        height: initial;
        margin-left: 175px;
    }
}

@media screen and (max-width: 1050px) {
    .header>img {
        width: initial;
        height: initial;
    }
}

@media screen and (max-width: 840px) {
    .header>img {
        width: initial;
        height: initial;
    }
}

@media screen and (max-width: 800px) {
    .header>img {
        width: initial;
        height: initial;
        margin-left: 51px;
    }
}

@media screen and (max-width: 576px) {
    .header>img {
        width: initial;
        height: 275px;
        margin-left: 0;
    }
}

@media screen and (max-width: 360px) {
    .header>img {
        width: initial;
        height: 200px;
    }
}

@media screen and (max-width: 320px) {
    .header>img {
        width: initial;
        height: initial;
    }
}