@media (min-width: 1920px) {
    .grid {
        grid-template-rows: 485px 150px 79%;
    }
}

.header>img {
    width: 288px;
    margin-left: 290px;
    z-index: 1;
    height: 485px;
}

@media screen and (max-width: 1670px) {
    .header>img {
        width: auto;
        /* margin-left: 290px;
        z-index: 1;
        height: 485px; */
    }
}

@media screen and (max-width: 1450px) {
    .header>img {
        width: initial;
        height: 485px;
    }
}

@media screen and (max-width: 1370px) {
    .header>img {
        width: initial;
        height: 485px;
    }
}

@media screen and (max-width: 1280px) {
    .header>img {
        width: initial;
        height: 450px;
        margin-left: 175px;
    }
}

@media screen and (max-width: 1050px) {
    .header>img {
        width: initial;
        height: 380px;
        margin-left: 130px;
    }
}

@media screen and (max-width: 920px) {
    .header>img {
        width: initial;
        height: 320px;
        margin-left: 110px;
    }
}

@media screen and (max-width: 840px) {
    .header>img {
        width: initial;
        height: 320px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 800px) {
    .header>img {
        width: initial;
        height: 320px;
        margin-left: 65px;
    }
}

@media screen and (max-width: 576px) {
    .header>img {
        width: initial;
        height: 260px;
        margin-left: 0;
    }
}

@media screen and (max-width: 360px) {
    .header>img {
        width: initial;
        height: 220px;
    }
}

@media screen and (max-width: 320px) {
    .header>img {
        width: initial;
        height: 200px;
    }
}